<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34BB210A1F41A7E200B28FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34BB21231F41A7E300B28FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34BB212E1F41A7E300B28FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
